
@media(max-width: 769px){

    .em-new-banner .container .text-container{width: 50%;}
    .em-new-banner .container aside{width: 45%;}

    .eco-head nav{position: relative;}
    .eco-head nav .menu-list{transform: rotateX(90deg); transition: .5s ease; transform-origin: top; position: absolute; right: 0; top: 100%; z-index: 9999; box-shadow: 9px 11px 15px 0 rgb(195 194 194 / 57%); background-color: white; display: flex; flex-direction: column; width: 100%; padding: 20px;}
    .eco-head nav .toggle-menu{transform: rotateX(0deg);}
    .eco-head nav .menu-list li{margin-left: 0; margin-bottom: 20px;}
    .eco-head nav .menu-list li:nth-last-child(1){margin-bottom: 0;}
    .eco-head nav .button{display: block;}
    .eco-head nav .menu{display: inline;}

}

@media(max-width: 640px){

    .em-new-banner .container{flex-wrap: wrap; align-items: flex-end; justify-content: flex-end; padding-bottom: 30px;}
    .em-new-banner .container .text-container{width: 100%; order: 2; padding: 0 20px; padding-top: 30px;}
    .em-new-banner .container aside{padding: 0; width: 70%;}
    .em-new-banner .container::after{right: unset; left: 0;}
}

@media(max-width: 480px){

    .eco-head{padding: 0 29px;}

    .em-new-banner .container::after{height: unset; bottom: unset; top: 20%; width: 80%;}

}